<%- include('./partials/header') %> 
<div class="d-flex justify-content-center align-items-center">
    <section class="text-warning m-3 p-3">
        <form autocomplete="off" action="/home" method="POST"vid="form1" class="text-center m-3">
            <fieldset>
                <legend for="name">Enter Name</legend>
                <input type="text" name="name" id="id" required><br>
                <legend for="email">Enter Email</legend>
                <input type="email" name="email" id="email" required><br>
                <legend  for="phone">Enter Phone Numbber</legend>
                <input type="text" name="phone" id="phone"><br>
                <legend for="hrs">time(IN 24 HRS FORMAT)</legend>
                <input type="number" name="cinh" id="cinh" autocomplete="off" required>
                <input type="number" name="cinm" id="cinm" autocomplete="off" required><br><br>
                <button type="submit" id="submit">Submit</button>
            </fieldset>
        </form>
    </section>
</div>
<%- include('./partials/footer') %> 