*{
    box-sizing: border-box;
}

body{
    background-image: url('https://images.unsplash.com/photo-1516864351034-bf734fd2c77e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2041&q=80');
}

#firstTable{
    margin: 20px auto;
}

#form1{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 530px){
    input{
        box-sizing: border-box;
    }
}

tr{
    font-weight: bolder;
    color: yellow;
}

/* To avoid losless image when zooming in */
@media screen and (min-width: 1200px){
    body{
        zoom: 1;
        background-size: 101%;
    }
}

#enter{
    display: flex;
    position: relative;
    margin-left: 900px;
    margin-top: 60px;
}